<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSOncologyCanvas.API" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WSOncologyCanvas.DAL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WSOncologyCanvas.API>
            <setting name="REFERENCE_DATA_URL" serializeAs="String">
                <value>https://www.gocanvas.com/apiv2/reference_datas?username=[USERNAME]&amp;password=[PASSWORD]</value>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="ACTION" serializeAs="String">
                <value>Append</value>
            </setting>
            <setting name="NAME" serializeAs="String">
                <value>mosaiq_dataset_01302014</value>
            </setting>
            <setting name="XML_FILE_NAME" serializeAs="String">
                <value>Canvas.xml</value>
            </setting>
            <setting name="XML_RESPONSE" serializeAs="String">
                <value>ServerResponse.xml</value>
            </setting>
            <setting name="SUBMISSION_DATA_URL" serializeAs="String">
                <value>https://www.gocanvas.com/apiv2/submissions.xml?username=[USERNAME]&amp;password=[PASSWORD]&amp;form_name=[FORM_NAME]</value>
            </setting>
            <setting name="IMAGE_GET_URL" serializeAs="String">
                <value>https://www.gocanvas.com/apiv2/images.xml?image_id=[IMAGE_ID]username=[USERNAME]&amp;password=[PASSWORD]</value>
            </setting>
            <setting name="USERGROUP" serializeAs="String">
                <value>Oncology</value>
            </setting>
        </WSOncologyCanvas.API>
        <WSOncologyCanvas.DAL>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Data Source=[SERVER];Initial Catalog=[DATABASE];User Id=[USERNAME];Password=[PASSWORD]</value>
            </setting>
            <setting name="ONCOLOGY_SERVER" serializeAs="String">
                <value>MOSAIQCLSQL</value>
            </setting>
            <setting name="ONCOLOGY_CATALOG" serializeAs="String">
                <value>Mosaiq</value>
            </setting>
            <setting name="ONCOLOGY_USER" serializeAs="String">
                <value>ReadingRadPooledUser2</value>
            </setting>
            <setting name="ONCOLOGY_PWD" serializeAs="String">
                <value>ReadingRadPooledUser2</value>
            </setting>
            <setting name="INDEX_STORE_FILE_NAME" serializeAs="String">
                <value>MOSAIQ_LAST_PT_INDEX_STORE.txt</value>
            </setting>
            <setting name="GET_ALL_PATIENTS" serializeAs="String">
                <value>[dbo].[Shields_WSOncologyCanvas_GetAllPatients]</value>
            </setting>
            <setting name="GET_LAST_PT" serializeAs="String">
                <value>[dbo].[Shields_WSOncologyCanvas_GetLastPT]</value>
            </setting>
            <setting name="CONNECTION_STRING_ERROR_LOGGER" serializeAs="String">
                <value>Data Source=SHCAPPPRODDB;Initial Catalog=SHIELDS_ERROR_LOGGER;User Id=ReadingRadPooledUser;Password=ReadingRadPooledUser</value>
            </setting>
            <setting name="LOCAL_WEB_LOG_FILE_NAME" serializeAs="String">
                <value>WebStatusLog.txt</value>
            </setting>
        </WSOncologyCanvas.DAL>
    </userSettings>
</configuration>